<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.githubusers"
    >

    <application
        android:name=".app.GithubUsersApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="깃헙유저 목록"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >
        <activity
            android:name=".app.GithubUsersActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="user"
                    android:path=""
                    android:scheme="githubusers"
                    tools:ignore="AppLinkUrlError"
                    />
            </intent-filter>
        </activity>
    </application>

</manifest>